modLoader = "javafml"
loaderVersion = "${loader_version_range}"
license = "${mod_license}"
[[mods]]
modId = "${mod_id}"
version = "${mod_version}"
displayName = "${mod_name}"
authors = "${mod_authors}"
logoFile = "assets/handheldmoon/icon.png"
displayURL = "https://github.com/Tower-of-Sighs/HandheldMoon"
issueTrackerURL = "https://github.com/Tower-of-Sighs/HandheldMoon/issues"
description = '''${mod_description}'''
[modproperties.handheldmoon."yumi:entrypoints"]
"lambdynlights:initializer" = "com.sighs.handheldmoon.lights.HandheldMoonDynamicLightsInitializer"

[[mixins]]
config = "${mod_id}.mixins.json"

[[dependencies."${mod_id}"]]
modId = "neoforge"
type = "required"
versionRange = "${neo_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies."${mod_id}"]]
modId = "minecraft"
type = "required"
versionRange = "${minecraft_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies."${mod_id}"]]
modId = "lambdynlights_runtime"
type = "required"
versionRange = "[1.0,)"
ordering = "NONE"
side = "BOTH"

[features."${mod_id}"]
openGLVersion = "[3.2,)"

[[accessTransformers]]
file = "META-INF/accesstransformer.cfg"